.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  position: relative;
  z-index: -10;
}


/*-- Hero section background animation --*/
#tsparticles {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: .75;
  z-index: 1;
}

/*-- Stablecoin animations --*/
@keyframes icon-animation {
  from {left: 0;}
  to {left: -1570px;}
}

@keyframes icon-animation-reverse {
  from {right: 0;}
  to {right: -1570px;}
}